.a .b{
    width: 60vh;
    height:70vh;
    border:3px solid gray;
    
}

.a{
    display: flex;
    justify-content: space-evenly;
    margin-top:7%;
    margin-bottom:5%;
}

.b img{
    width: 60vh;
    height: 69vh;
    border:3px solid gray;
    
}

h2{
    margin-left: 7.5%;
    margin-bottom: 5%;
}