.a .b{
    width: 60vh;
    height:70vh;
    border:3px solid gray;
    
}

.a{
    display: flex;
    justify-content: space-evenly;
    margin-top:10%;
    margin-bottom:5%;
}

img{
    width: 60vh;
    height: 69vh;
    border:3px solid gray;
    
}