<div class="Cnt" id="contact">
    <h3 class="text-center">Let's Meet Up</h3>

    <div class="area">
        <div class="description">
            <div class="tw text">
                <span id="one">Hello Guys,</span><br />
                <span id="two">Do you guys have queries, wanna have a discussion,</span>
                <br />
                <span id="three">need an advice, wanna grab a tea or coffee with me.</span>
                <br />
                <span id="thre">Just fill the form Or call/mail me on below given details.</span>
            </div>
            <br />
            <div class="tw text">
                <span id="four">Contact Me - </span>
                <br />
                <span id="five"> +91-7248748352</span>
                <br />
                <a href="mailto:singhal.satyam92@outlook.com" id="six"> singhal.satyam92@outlook.com</a>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header text-center">Discussion Form</h5>
            <div class="card-body">
                <form [formGroup]="ContactForm" (ngSubmit)="onSubmit()" >

                    <div class="form-group">
                        <label for="Fullname">Full Name:</label>
                        <input type="text" name="_name" [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }"
                            class="form-control" formControlName="fullName" id="Fullname" placeholder="Sanjay ABCDE" />
                        <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
                            <div *ngIf="f['fullName'].errors['required']">Name is required</div>
                            <div *ngIf="f['fullName'].errors['pattern']">Name is invalid</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email address:</label>
                        <input type="email" name="_replyto" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                            class="form-control" formControlName="email" id="Email" placeholder="name@example.com" />
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cell">Phone Number:</label>
                        <input type="number" name="_number" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }"
                            class="form-control" formControlName="phone" id="cell" placeholder="9876543210" />
                        <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                            <div *ngIf="f['phone'].errors['required']">Phone no. is required</div>
                            <div *ngIf="f['phone'].errors['pattern']">Phone no. invalid</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="query">Query Area:</label>
                        <textarea class="form-control" [ngClass]="{ 'is-invalid': submitted && f['query'].errors }"
                            name="_queries" id="query" formControlName="query" rows="3"
                            placeholder="Write your Query here"></textarea>
                        <div *ngIf="submitted && f['query'].errors" class="invalid-feedback">
                            <div *ngIf="f['query'].errors['required']">Query is required</div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="docs">Query Related File:</label>
                        <input type="file" class="form-control" id="docs" name="upload" />
                    </div>

                    <div class="form-group">
                        <button type="submit" (onclick)="onSubmit()" class="btn btn-primary">Register</button>
                        <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                            Reset
                        </button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>